attrdict==2.0.0
scipy==1.0.0
matplotlib==2.1.1
click==6.7
pandas==0.22.0
opencv_python==4.2.0.32
tqdm==4.11.2
pydot_ng==1.0.0
catboost==0.6.2
imgaug==0.2.5
numpy==1.21.0
neptune_cli==2.8.0
ipython==7.16.3
Pillow>=6.2.2
category_encoders==1.2.6
gensim==3.4.0
lightgbm==2.1.0
nltk==3.6.5
tensorflow>=1.7.1
xgboost==0.71
pyyaml>=4.2b1
